*,
*::before,
*after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 0;
}

main {
    margin: 1rem auto;

}

main section {
    padding-left: 4rem;
}

.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 2%;

}

.header_container strong{
    font-size: smaller;
    margin-left: 20px

}

.logo_image{
    height: 30px;

}

nav li{
    display: inline;
    font-size: small;
    margin-right: 1rem;
}

nav li a{
    text-decoration: none;
    color: black;
}

#search{
    background-image: url("assets/1200px-Google_Magnifying_Glass.svg.png");
    background-position: right;
    padding-left: 30px;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.hr_section {
    margin-left: 0;
    width: 50%;
    border: 2px solid black;
}
.hr_product {
    margin-left: 0;
    width: 30%;
    border: 2px solid black;
}

.hr_header{
    border: 2px solid black;
    margin-left: 2em;
    margin-right: 2em;

}

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 85px;
    margin-left: 2em;
    margin-right: 2em;

}

.home h2{
    color: white;
    margin-left: 2em;

}

.homeh2r_container{
    margin-top: 10em;
    margin-right: 2em;
}

#hometxt_right{
    text-align: right;
    margin-right: 3em;
}

.about {
    padding-top: 40px;
}

.about img {
    float: left;
    width: 350px;
    height: 490px;
    margin: 30px;
}

#float_right {
    float: right;
    width: 460px;
    height: 608px;
    margin-right: 225px;
}

#about_p1 {
    width: 900px;
    margin-left: 30px;
    margin-top: 30px;
}
#about_p2 {
    width: 450px;
    margin-top: 50px;
    margin-left: 500px;

}
#about_p3 {
    width: 450px;
    margin-left: 500px;

}

.products{
    margin-top: 12rem;
}


.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
    padding-top: 40px;
    margin-left: 20px;
}

.product_container p{
    width: 300px;
    font-size: 13px;
}

.product_container a{
    color:#bf7631;
    font-size: 15px;
}

.product_container button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;

}

.product_container span{
    padding-left: 60px;
}

.contacts{
    margin-top: 10rem;
}

.form_container{
    padding-top: 20px;
    max-width: 700px;
    margin: auto;
    padding-bottom: 30px
}

.form_container button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.email input{
    padding: 1px 250px;
}
.message input{
    padding: 80px 250px;
}

footer{
    background-color:  #ff7b00;
    left: 0;
    bottom: 0;
    padding: 0.5rem;
}

.footer_container_img{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.footer_container_img img{
    height: 50px;
}

.footer_container_words{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}